In [1]:
#!/usr/bin/env python3

In [2]:
import pandas as pd
import random
import string
import collections

# Letter Freq
['Notre Dam Cryptography']('https://www3.nd.edu/~busiforc/handouts/cryptography/letterfrequencies.html')

https://tmh.conlang.org/word-frequency/

- link above is reference to percentages, used below

In [3]:
def change_to_int(data):
    return data/100

In [4]:
def insertRow(rowNum, df, rowVal):
    df1 = df[0:rowNum]
    df2 = df[rowNum:]
    df1.loc[rowNum] = rowVal
    dfResult = pd.concat([df1, df2])
    #dfResult = dfResult.index
#     dfResult = [*range(dfResult).shape[0]]
    return dfResult

In [5]:
# word_frequency = pd.read_clipboard()
# word_frequency.to_csv('word_freq.csv', index=False)
word_freq= pd.read_csv('word_freq.csv')
word_freq
row1 = []
for col in word_freq.columns:
    row1.append(col)
cols_list = ['letter1', '%_freq1', 'commonality1', 'letter2', '%_freq2', 'commonality2']
for i in range(len(row1)):
    word_freq.rename(columns={word_freq.columns[i]: cols_list[i]}, inplace = True)
word_freq = (insertRow(0, word_freq, row1)).reset_index(drop=True)
word_freq
# word_frequency = word_frequency.drop(word_frequency.columns[1], axis=1)
word_freq1 = word_freq[['letter1', '%_freq1', 'commonality1']]
word_freq2 = word_freq[['letter2', '%_freq2', 'commonality2']]
cols_list = ['letter', '%_freq', 'commonality']
for i in range(len(word_freq1.columns)):
    word_freq1.rename(columns={word_freq1.columns[i]: cols_list[i]}, inplace = True)
    word_freq2.rename(columns={word_freq2.columns[i]: cols_list[i]}, inplace = True)
frames = [word_freq1, word_freq2]
word_frequency = (pd.concat(frames)).reset_index(drop = True)
#word_frequency

/Users/Jen/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
/Users/Jen/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4304: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [6]:
word_frequency['freq_flt'] = [float(i[:-1]) for i in word_frequency['%_freq']]
#word_frequency

In [7]:
word_frequency['commonality'][25] = 0.99

/Users/Jen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
def is_float(str):
    if type(str) == type(1.1):
        return False
    else:
        return True
word_frequency['common_flt'] = [float(i.strip()) if is_float(i) else i for i in word_frequency['commonality']]

In [9]:
word_frequency.to_csv('wrd_freq.csv', index=False)
word_frequency

   letter    %_freq commonality  freq_flt  common_flt
0       E  11.1607%       56.88   11.1607       56.88
1       A   8.4966%       43.31    8.4966       43.31
2       R   7.5809%       38.64    7.5809       38.64
3       I   7.5448%       38.45    7.5448       38.45
4       O   7.1635%       36.51    7.1635       36.51
5       T   6.9509%       35.43    6.9509       35.43
6       N   6.6544%       33.92    6.6544       33.92
7       S   5.7351%       29.23    5.7351       29.23
8       L   5.4893%       27.98    5.4893       27.98
9       C   4.5388%       23.13    4.5388       23.13
10      U   3.6308%       18.51    3.6308       18.51
11      D   3.3844%       17.25    3.3844       17.25
12      P   3.1671%       16.14    3.1671       16.14
13      M   3.0129%       15.36    3.0129       15.36
14      H   3.0034%       15.31    3.0034       15.31
15      G   2.4705%       12.59    2.4705       12.59
16      B   2.0720%       10.56    2.0720       10.56
17      F   1.8121%        9.24    1.8121        9.24
18      Y   1.7779%        9.06    1.7779        9.06
19      W   1.2899%        6.57    1.2899        6.57
20      K   1.1016%        5.61    1.1016        5.61
21      V   1.0074%        5.13    1.0074        5.13
22      X   0.2902%        1.48    0.2902        1.48
23      Z   0.2722%        1.39    0.2722        1.39
24      J   0.1965%        1.00    0.1965        1.00
25      Q   0.1962%        0.99    0.1962        0.99

# Adding Cornell's Word Frequency Data
-----
as alternative

In [10]:
#pd.read_clipboard()
#cornell = pd.read_clipboard()
#cornell.to_csv('cornell_wrd_freq.csv', index=False)
word_freq2 = pd.read_csv('cornell_wrd_freq.csv')

In [11]:
word_freq2

   Letter   Count      Letter .1  Frequency
0       E    21912            E       12.02
1       T    16587            T        9.10
2       A    14810            A        8.12
3       O    14003            O        7.68
4       I    13318            I        7.31
5       N    12666            N        6.95
6       S    11450            S        6.28
7       R    10977            R        6.02
8       H    10795            H        5.92
9       D     7874            D        4.32
10      L     7253            L        3.98
11      U     5246            U        2.88
12      C     4943            C        2.71
13      M     4761            M        2.61
14      F     4200            F        2.30
15      Y     3853            Y        2.11
16      W     3819            W        2.09
17      G     3693            G        2.03
18      P     3316            P        1.82
19      B     2715            B        1.49
20      V     2019            V        1.11
21      K     1257            K        0.69
22      X      315            X        0.17
23      Q      205            Q        0.11
24      J      188            J        0.10
25      Z      128            Z        0.07

In [12]:
word_freq2.columns

Index(['Letter ', 'Count ', '  ', 'Letter .1', 'Frequency'], dtype='object')

In [13]:
word_freq2 = word_freq2.drop(['Letter .1'], axis=1)
#word_freq2

In [14]:
word_freq2['freq_flt'] = word_freq2['Frequency'].apply(change_to_int)

In [15]:
cols = [i.strip() for i in word_freq2.columns]
word_freq2.columns = cols

In [16]:
word_freq2.columns = word_freq2.columns.str.lower()
word_freq2

   letter  count      frequency  freq_flt
0      E   21912          12.02    0.1202
1      T   16587           9.10    0.0910
2      A   14810           8.12    0.0812
3      O   14003           7.68    0.0768
4      I   13318           7.31    0.0731
5      N   12666           6.95    0.0695
6      S   11450           6.28    0.0628
7      R   10977           6.02    0.0602
8      H   10795           5.92    0.0592
9      D    7874           4.32    0.0432
10     L    7253           3.98    0.0398
11     U    5246           2.88    0.0288
12     C    4943           2.71    0.0271
13     M    4761           2.61    0.0261
14     F    4200           2.30    0.0230
15     Y    3853           2.11    0.0211
16     W    3819           2.09    0.0209
17     G    3693           2.03    0.0203
18     P    3316           1.82    0.0182
19     B    2715           1.49    0.0149
20     V    2019           1.11    0.0111
21     K    1257           0.69    0.0069
22     X     315           0.17    0.0017
23     Q     205           0.11    0.0011
24     J     188           0.10    0.0010
25     Z     128           0.07    0.0007

In [17]:
test_text_orig = "DOLU PU AOL JVBYZL VM OBTHU LCLUAZ, PA ILJVTLZ ULJLZZHYF MVY VUL WLVWSL AV KPZZVSCL AOL WVSPAPJHS IHUKZ DOPJO OHCL JVUULJALK AOLT DPAO HUVAOLY, HUK AV HZZBTL HTVUN AOL WVDLYZ VM AOL LHYAO, AOL ZLWHYHAL HUK LXBHS ZAHAPVU AV DOPJO AOL SHDZ VM UHABYL HUK VM UHABYL'Z NVK LUAPASL AOLT, H KLJLUA YLZWLJA AV AOL VWPUPVUZ VM THURPUK YLXBPYLZ AOHA AOLF ZOVBSK KLJSHYL AOL JHBZLZ DOPJO PTWLS AOLT AV AOL ZLWHYHAPVU. "

In [18]:
#saving spaceing locations
spaces = []
for i in range(len(test_text_orig)):
    if test_text_orig[i] == ' ':
        spaces.append(i)

In [19]:
test_text = test_text_orig.lower()
test_text = "".join(test_text.split())
test_text

"dolupuaoljvbyzlvmobthulcluaz,pailjvtlzuljlzzhyfmvyvulwlvwslavkpzzvsclaolwvspapjhsihukzdopjoohcljvuuljalkaoltdpaohuvaoly,hukavhzzbtlhtvunaolwvdlyzvmaollhyao,aolzlwhyhalhuklxbhszahapvuavdopjoaolshdzvmuhabylhukvmuhabyl'znvkluapaslaolt,hkljluaylzwljaavaolvwpupvuzvmthurpukylxbpylzaohaaolfzovbskkljshylaoljhbzlzdopjoptwlsaoltavaolzlwhyhapvu."

In [20]:
print(collections.Counter(test_text).most_common(1)[0])

('l', 50)

In [21]:
def format_input(inputs):
    if type(original_input) == type([]):
        inputs = original_input.lower()
        inputs = "".join(inputs.split())
        return inputs
    if type(orignal_input) == type("s"):
        return inputs.lower()

In [22]:
#Function expects string
def most_common(text):
    d = collections.defaultdict(int)
    for c in text:
        d[c] += 1
    common = sorted(d.items(), key=lambda x: x[1], reverse=True)[0]
    return common

In [23]:
def drop_letter(letter, test_text):
    #print(letter)
    #print(test_text)
    return test_text.replace(letter, "")

In [24]:
test_text

"dolupuaoljvbyzlvmobthulcluaz,pailjvtlzuljlzzhyfmvyvulwlvwslavkpzzvsclaolwvspapjhsihukzdopjoohcljvuuljalkaoltdpaohuvaoly,hukavhzzbtlhtvunaolwvdlyzvmaollhyao,aolzlwhyhalhuklxbhszahapvuavdopjoaolshdzvmuhabylhukvmuhabyl'znvkluapaslaolt,hkljluaylzwljaavaolvwpupvuzvmthurpukylxbpylzaohaaolfzovbskkljshylaoljhbzlzdopjoptwlsaoltavaolzlwhyhapvu."

In [25]:
len(test_text)

336

In [26]:
#Removing punctuation
punctuation_list = []
punctuation_slice = []
for i in range(len(test_text)):
    if test_text[i] == "'":
        punctuation_list.append(test_text[i])
        punctuation_list.append(i)
    elif test_text[i] == ".":
        punctuation_list.append(test_text[i])
        punctuation_list.append(i)
    elif test_text[i] == ",":
        punctuation_list.append(test_text[i])
        punctuation_list.append(i)
replace_list = [",", "'", "."]
for i in replace_list:
    test_text = test_text.replace(i, "")

In [27]:
len(test_text)

330

In [28]:
def tuple_frequency(test_text):
    # Iterator through input
    # While loop counts frequency of letters and removes them
    counter = len(test_text)
    drop_text = test_text
    lst_common = []
    while counter != 0:
        key_finder = most_common(drop_text)
        lst_common.append(key_finder)
        drop_text = drop_letter(key_finder[0], drop_text)
        if len(drop_text) == 0:
            return lst_common
            break
        counter = counter - 1

In [29]:
commons = tuple_frequency(test_text)
commons[1][0]

'a'

In [30]:
letter = []
counted = []
for i in range(len(commons)):
    letter.append(commons[i][0])
    counted.append(commons[i][1])

In [31]:
word_frequency["%_freq"][0]

'11.1607%'

In [32]:
def change_to_100(data):
    return data * 100

In [33]:
#Adding integer col for frequency df
word_frequency['freq_flt']= word_frequency["freq_flt"].apply(change_to_int)

In [34]:
word_frequency

   letter    %_freq commonality  freq_flt  common_flt
0       E  11.1607%       56.88  0.111607       56.88
1       A   8.4966%       43.31  0.084966       43.31
2       R   7.5809%       38.64  0.075809       38.64
3       I   7.5448%       38.45  0.075448       38.45
4       O   7.1635%       36.51  0.071635       36.51
5       T   6.9509%       35.43  0.069509       35.43
6       N   6.6544%       33.92  0.066544       33.92
7       S   5.7351%       29.23  0.057351       29.23
8       L   5.4893%       27.98  0.054893       27.98
9       C   4.5388%       23.13  0.045388       23.13
10      U   3.6308%       18.51  0.036308       18.51
11      D   3.3844%       17.25  0.033844       17.25
12      P   3.1671%       16.14  0.031671       16.14
13      M   3.0129%       15.36  0.030129       15.36
14      H   3.0034%       15.31  0.030034       15.31
15      G   2.4705%       12.59  0.024705       12.59
16      B   2.0720%       10.56  0.020720       10.56
17      F   1.8121%        9.24  0.018121        9.24
18      Y   1.7779%        9.06  0.017779        9.06
19      W   1.2899%        6.57  0.012899        6.57
20      K   1.1016%        5.61  0.011016        5.61
21      V   1.0074%        5.13  0.010074        5.13
22      X   0.2902%        1.48  0.002902        1.48
23      Z   0.2722%        1.39  0.002722        1.39
24      J   0.1965%        1.00  0.001965        1.00
25      Q   0.1962%        0.99  0.001962        0.99

In [35]:
letter[0:4]

['l', 'a', 'o', 'v']

In [36]:
counted[0:4]

[50, 37, 27, 27]

In [37]:
len(test_text)

330

In [38]:
#test_freq = [counted[i]/len(test_text) for counted[i] in range(len(counted))]

In [39]:
test_freq = []
for i in range(len(counted)):
    test_freq.append(counted[i]/len(test_text))

In [40]:
50/330

0.15151515151515152

In [41]:
word_frequency.head()

  letter    %_freq commonality  freq_flt  common_flt
0      E  11.1607%       56.88  0.111607       56.88
1      A   8.4966%       43.31  0.084966       43.31
2      R   7.5809%       38.64  0.075809       38.64
3      I   7.5448%       38.45  0.075448       38.45
4      O   7.1635%       36.51  0.071635       36.51

In [42]:
word_frequency["avg_range"] = word_frequency['freq_flt']

In [43]:
word_frequency.head()

  letter    %_freq commonality  freq_flt  common_flt  avg_range
0      E  11.1607%       56.88  0.111607       56.88   0.111607
1      A   8.4966%       43.31  0.084966       43.31   0.084966
2      R   7.5809%       38.64  0.075809       38.64   0.075809
3      I   7.5448%       38.45  0.075448       38.45   0.075448
4      O   7.1635%       36.51  0.071635       36.51   0.071635

# Changing word_frequency from Notre Dame to Cornell
--------

In [44]:
word_frequency = word_freq2

In [45]:

#for i in range(len(word_frequency)):

In [46]:
cipher = pd.DataFrame()
cipher["letters"] = letter
cipher["count"] = counted
cipher["percent"] = test_freq
#cipher["percent_100"] = cipher["percent"].apply(change_to_100)

In [47]:
cipher.head()

  letters  count   percent
0       l     50  0.151515
1       a     37  0.112121
2       o     27  0.081818
3       v     27  0.081818
4       h     26  0.078788

In [48]:
(word_frequency['freq_flt'][0] - word_frequency['freq_flt'][1])/2

0.014600000000000002

In [49]:
word_frequency.head()

  letter  count      frequency  freq_flt
0     E   21912          12.02    0.1202
1     T   16587           9.10    0.0910
2     A   14810           8.12    0.0812
3     O   14003           7.68    0.0768
4     I   13318           7.31    0.0731

In [50]:
word_frequency.columns

Index(['letter', 'count', '', 'frequency', 'freq_flt'], dtype='object')

In [51]:
a = cipher['percent'][0]
calc = (word_frequency['freq_flt'][0] - word_frequency['freq_flt'][1])/2
if a >= (calc + word_frequency['freq_flt'][1]):
    print(word_frequency['letter'][0])

E

In [52]:
def match_percent(cipher_percent):
    for i in range(len(word_frequency)):
        calc = (word_frequency['freq_flt'][i] - word_frequency['freq_flt'][i+1])/2
        if i > 24:
            return word_frequency[24]
        elif cipher_percent >= (calc + word_frequency['freq_flt'][i]):
            #print(word_frequency['letter'][i], word_frequency['letter'][i+1])
            return (word_frequency['letter'][i], word_frequency['letter'][i+1])

In [53]:
#finding possible letter matches
possible_letters = []
for i in range(len(cipher['percent'])):
    #match = match_percent(i)
    #print(cipher['letters'][i])
    possible_letters.append(match_percent(cipher['percent'][i]))

In [54]:
cipher['possible']=possible_letters

In [55]:
cipher

   letters  count   percent  possible
0        l     50  0.151515  (E , T )
1        a     37  0.112121  (T , A )
2        o     27  0.081818  (O , I )
3        v     27  0.081818  (O , I )
4        h     26  0.078788  (O , I )
5        u     24  0.072727  (S , R )
6        z     22  0.066667  (S , R )
7        p     17  0.051515  (D , L )
8        y     14  0.042424  (U , C )
9        j     13  0.039394  (U , C )
10       k     11  0.033333  (U , C )
11       s     10  0.030303  (U , C )
12       b      9  0.027273  (F , Y )
13       t      9  0.027273  (F , Y )
14       w      9  0.027273  (F , Y )
15       d      7  0.021212  (Y , W )
16       m      6  0.018182  (B , V )
17       c      3  0.009091  (X , Q )
18       i      2  0.006061  (X , Q )
19       f      2  0.006061  (X , Q )
20       n      2  0.006061  (X , Q )
21       x      2  0.006061  (X , Q )
22       r      1  0.003030  (X , Q )

In [56]:
translation = []
for i in test_text_orig:
    if (i == ',') or (i == ' ') or (i == '.') or (i == "'"):
        translation.append(i)
        continue
    for m in range(len(cipher['possible'])):
        if i.lower() == cipher['letters'][m].lower():
            #print(cipher['possible'][m][0])
            translation.append(cipher['possible'][m][0].lower())

In [57]:
"".join(translation)

"y o e s  d s  t o e  u o f u s e  o b  o f f o s  e x e s t s , d t  x e u o f e s  s e u e s s o u x  b o u  o s e  f e o f u e  t o  u d s s o u x e  t o e  f o u d t d u o u  x o s u s  y o d u o  o o x e  u o s s e u t e u  t o e f  y d t o  o s o t o e u , o s u  t o  o s s f f e  o f o s x  t o e  f o y e u s  o b  t o e  e o u t o , t o e  s e f o u o t e  o s u  e x f o u  s t o t d o s  t o  y o d u o  t o e  u o y s  o b  s o t f u e  o s u  o b  s o t f u e 's  x o u  e s t d t u e  t o e f , o  u e u e s t  u e s f e u t  t o  t o e  o f d s d o s s  o b  f o s x d s u  u e x f d u e s  t o o t  t o e x  s o o f u u  u e u u o u e  t o e  u o f s e s  y o d u o  d f f e u  t o e f  t o  t o e  s e f o u o t d o s . "

In [58]:
cipher['possible'][2][1]

'I '

In [59]:
translation2 = []
for i in test_text_orig:
    if (i == ',') or (i == ' ') or (i == '.') or (i == "'"):
        translation2.append(i)
        continue
    for m in range(len(cipher['possible'])):
        if i.lower() == cipher['letters'][m].lower():
            #print(cipher['possible'][m][0])
            translation2.append(cipher['possible'][m][1].lower())

In [60]:
translation2
"".join(translation2)

"w i t r  l r  a i t  c i y c r t  i v  i y y i r  t q t r a r , l a  q t c i y t r  r t c t r r i c q  v i c  i r t  y t i y c t  a i  c l r r i c q t  a i t  y i c l a l c i c  q i r c r  w i l c i  i i q t  c i r r t c a t c  a i t y  w l a i  i r i a i t c , i r c  a i  i r r y y t  i y i r q  a i t  y i w t c r  i v  a i t  t i c a i , a i t  r t y i c i a t  i r c  t q y i c  r a i a l i r  a i  w i l c i  a i t  c i w r  i v  r i a y c t  i r c  i v  r i a y c t 'r  q i c  t r a l a c t  a i t y , i  c t c t r a  c t r y t c a  a i  a i t  i y l r l i r r  i v  y i r q l r c  c t q y l c t r  a i i a  a i t q  r i i y c c  c t c c i c t  a i t  c i y r t r  w i l c i  l y y t c  a i t y  a i  a i t  r t y i c i a l i r . "